<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DdaatApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.session.VideoCallSessionCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.PastSessionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.WatingAreaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.JoinSessionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.RequestSessionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.playStreamAudio.StreamAudioPlayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.PlayVideoContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.MyFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.MyWatchlistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.ShowVideoContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.feedback.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.myPurchase.MyPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.myNotes.ShowNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.myNotes.MyNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.aboutDdaat.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.aboutDdaat.TearmsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.aboutDdaat.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".subscriptionScreen.CoursesActivity"
            android:exported="false" />
        <activity
            android:name=".subscriptionScreen.StreamsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".subscriptionScreen.SessionsActivity"
            android:exported="false" />
        <activity
            android:name=".subscriptionScreen.VideoLibraryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.signup.ProfileCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.subscription.BuySubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.subscription.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.signup.InterestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.signup.CompleteProfile"
            android:exported="false" />
        <activity
            android:name=".activity.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forgot.ChangePwdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.otpvrify.OtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forgot.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".activity.splash.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".subscriptionScreen.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>