<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!--permissions for INTERNET-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DdaatApp"
        tools:targetApi="31">
        <activity
            android:name=".unsubscribeScreen.UnsubscribeQuestionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".unsubscribeScreen.UnsubscribeSearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".unsubscribeScreen.UnsubscribeChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".unsubscribeScreen.UnsubscribeStreamsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".unsubscribeScreen.UnsubscribeHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activity.techSupport.TechSupportChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.techSupport.CreateTicketActivity"
            android:exported="false" />
        <activity
            android:name=".activity.techSupport.TechSupportTicketActivity"
            android:exported="false" />
        <activity
            android:name=".activity.notification.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.techSupport.TechSupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.paymentAndBilling.AddNewCardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.subscription.SubscriptionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.paymentAndBilling.PaymentAndBillingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.reviewAndRating.ReviewAndRatingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.blogs.AllBlogActivity"
            android:exported="false" />
        <activity
            android:name=".activity.blogs.BlogDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superPower.SurveyQuestionAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superPower.SurveyResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superPower.SurveyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.liveCourse.JoinLiveCourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.VideoCallSessionCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chat.ChatMessageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.PastSessionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.WatingAreaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.JoinSessionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.session.RequestSessionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.playStreamAudio.StreamAudioPlayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.PlayVideoContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.MyFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.MyWatchlistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showVideoContent.ShowVideoContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.feedback.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.myPurchase.MyPurchasedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.myNotes.ShowNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.myNotes.MyNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.aboutDdaat.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.aboutDdaat.TearmsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.aboutDdaat.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".subscriptionScreen.CoursesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".subscriptionScreen.StreamsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".subscriptionScreen.SessionsActivity"
            android:exported="false" />
        <activity
            android:name=".subscriptionScreen.VideoLibraryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.signup.ProfileCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.subscription.BuySubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.subscription.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.signup.InterestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.signup.CompleteProfile"
            android:exported="false" />
        <activity
            android:name=".activity.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forgot.ChangePwdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.otpvrify.OtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forgot.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".activity.splash.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".subscriptionScreen.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>